anyio==3.6.1
appdirs==1.4.4
atomicwrites==1.4.1
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.0
cheroot==8.6.0
CherryPy==18.8.0
colorama==0.4.5
cssselect==1.1.0
decorator==5.1.1
dnspython==2.2.1
email-validator==1.2.1
fake-useragent==0.1.11
feedparser==6.0.10
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.15.0
httpx==0.23.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
ipaddress==1.0.23
jaraco.classes==3.2.2
jaraco.collections==3.5.2
jaraco.context==4.1.2
jaraco.functools==3.5.1
jaraco.text==3.8.1
loguru==0.6.0
lxml==4.9.1
more-itertools==8.13.0
numpy==1.23.1
packaging==21.3
pandas==1.4.3
parse==1.19.0
phonenumbers==8.12.52
pip==22.1.2
pluggy==1.0.0
portend==3.1.0
priority==2.0.0
py==1.11.0
pydantic==1.9.1
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==1.0.2
pyQiwiP2P==2.0.5
pyquery==1.4.3
pyTelegramBotAPI==4.6.0
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests-html==0.10.0
requests==2.28.1
response-report==1.1.1
rfc3986==1.5.0
setuptools==63.2.0
sgmllib3k==1.0.0
SimpleQIWI==0.7
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.20.4
tempora==5.0.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
typing-extensions==4.3.0
typing==3.7.4.3
urllib3==1.26.10
uuid==1.30
validators==0.20.0
w3lib==1.22.0
websockets==10.3
wheel==0.37.1
win32-setctime==1.1.0
wsproto==1.1.0
yahoo-fin==0.8.9.1
YooMoney==0.1.0
zc.lockfile==2.0
zipp==3.8.1
